{
  "openapi": "3.0.3",
  "info": {
    "title": "Gallabox API",
    "description": "The Gallabox API is organised around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts [form-encoded](https://en.wikipedia.org/wiki/POST_(HTTP)#Use_for_submitting_web_forms) request bodies, returns [JSON-encoded](http://www.json.org/) responses, and uses standard HTTP response codes, authentication, and verbs.\n\n# Overview\n\nGallabox provides an HTTP-based API that follows the principles of REST. The HTTP rules followed allow simple HTTP clients like cURL to be used as well. The URLs are resource-oriented, the request format is form-encoded, and the responses are in JSON.\n\nDepending on the type of operation, the endpoints use one of two HTTP methods:\n\n- **GET**: Used for all read-only operations such as retrieving a resource or listing a group of resources.\n    \n- **POST**: Used for all write operations. Such operations modify the state of a resource\n    \n\nA history of changes to the API is provided in the API Changelog.\n\n### Resources\n\nGallabox follows the REST model of exposing resources as urls. For example, Users are exposed as\n\n```\nhttps://server.gallabox.com/devapi/accounts/{{accountId}}/users\n\n ```\n\n### Request\n\nThe HTTP method (like GET,POST) determines the operation type on the resource. Query parameters allow you to provide additional options to the GET requests. POST parameters provide the data to write operations like creation, modification of resource(s).\n\n### Response\n\nThe response is in JSON format. Currently Gallabox does not support any other response format.\n\n# Concepts\n\nThroughout the Gallabox API and it's documentation, there are different concepts, variables, and terms used as you continue to explore. Below you can find more information about these concepts and where to find them in the Gallabox app.\n\n### AccountId\n\nA unique identifier of an Account in Gallabox. You can click the \"Copy\" button when viewing your account's settings.\n\n### ChannelId\n\nA unique identifier of an Channel in Gallabox. You can click the \"Copy\" button when viewing your channel's settings.\n\n# Authentication\n\nGallabox authenticates your API requests using your account’s **API keys**. If you do not include your keys in header when making an API request, or use one that is incorrect or outdated, Gallabox returns an error.\n\nProduction Host for APIs: [https://server.gallabox.com](https://server.gallabox.com)\n\n```\nGET /devapi/test\nHost: server.gallabox.com\napiKey: {{apiKey}}\napiSecret: {{apiSecret}}\nContent-Type: application/json\n\n ```\n\n### How to authenticate\n\nEvery request to Gallabox API should have HTTP header containing a valid API Key and Secret that we use to authenticate the account:\n\n```\napiKey - your account's API Key\napiSecret - your account's API Secret\n\n ```\n\nAPI key and secret can be obtained from Settings page when you are logged into the Gallabox application (screenshot below) or just simply click [here<br>](https://app.gallabox.com/apikey)\n\n<img src=\"https://content.pstmn.io/58c99a64-366d-4a1f-a946-13ee2269a1e1/aW1hZ2UucG5n\" width=\"902\" height=\"547\">\n\n# Rate Limiting\n\nDifferent types of API methods are subject to different rate limits.\n\nThe response's HTTP headers are the authoritative source for the current number of API calls available to you or your app at any given time. The returned HTTP headers of any API request show your current rate limit status, as described below.\n\n| Header Name | **Description** |\n| --- | --- |\n| X-RateLimit-Limit | The maximum number of requests you're permitted to make in the current rate limit window. |\n| X-RateLimit-Remaining | The number of requests remaining in the current rate limit window. |\n| X-RateLimit-Reset | The time at which the current rate limit window resets in UTC epoch seconds. |\n\nIf you exceed the rate limit, an API error response is returned:\n\n```\nHTTP/2 429\nX-RateLimit-Limit: 60\nX-RateLimit-Remaining: 0\nX-RateLimit-Reset: 1377013266\n{\n    \"status\": \"TOO_MANY_REQUEST\",\n    \"message\": \"API rate limit exceeded. Please try again in 60 seconds\"\n}\n\n ```",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://server.gallabox.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "A user in Gallabox is the entity of someone who has signed up with an account.  \n  \n\n<img src=\"https://content.pstmn.io/f9e85156-c56a-4ddc-88a8-9d30d5bc33d5/aW1hZ2UucG5n\" alt=\"\">"
    },
    {
      "name": "Messages",
      "description": "You send messages by making a  `POST`  call to the  `/devapi/messages/whatsapp`  node regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).\n\n1. You can send message as User (now it is sending on behalf of Owner, we change it to any user). If it is sent behalf of that user, it will available in Mine Tab for that user and Open Tab for other users\n2. You can send message on behalf of a bot, it will available in Open Tab for all users\n3. You can send as Notification. which will not be assigned to any user or bot. It will not be available in any Tab. When users reply it will be available in Unassigned Tab.\n\n*channelId* can be obtained from *Settings > Connect > WhatsApp Channel* page when you are logged into the Gallabox application (screenshot below) or just simply click [here](https://app.gallabox.com/channels).\n\n![Get ChannelId](https://files.gallabox.com/5bec02b8-bf47-4089-9ea5-d4c52cbc7ead)"
    },
    {
      "name": "Messages / WhatsApp Session Message"
    },
    {
      "name": "Messages / Send WhatsApp Template"
    },
    {
      "name": "Contacts",
      "description": "You can add new contact by making a `POST` call to the `/devapi/accounts/{{accountId}}/contacts`"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are server callbacks to your server from Gallabox Server. Webhooks are event-based and are sent when specific events related to the Contacts, Messages happen.\n\nGallabox sends the following payloads for Contacts and Messages events:\n\n### Contact Webhooks Events:\n\n- `Contact.Created`\n    \n- `Contact.Updated`\n    \n- `Contact.Tag.Mapped`\n    \n- `Contact.Tag.Unmapped`\n    \n\n#### Example Response\n\n#### Contact.Created\n\n``` json\n{\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"name\": \"bruce wayne\",\n  \"email\": [\n    \"batman911@gmail.com\"\n  ],\n  \"tags\": [],\n  \"fieldValues\": [],\n  \"creatorId\": \"629e06e48e13b5000ae338d3\",\n  \"messageOptIn\": true,\n  \"createdAt\": \"2024-07-29T06:13:41.234Z\",\n  \"updatedAt\": \"2024-07-29T06:13:41.234Z\",\n  \"company\": null,\n  \"formattedPhone\": [\n    {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"9438497481\"\n    }\n  ],\n  \"marketingOptIn\": true,\n  \"id\": \"66a733157eb2ae33f8d4bc34\",\n  \"phone\": [\n    \"+919438497481\"\n  ],\n  \"fieldValuesCompact\": {\n    \"date\": \"\",\n    \"multiselect\": \"\",\n    \"Zip_Code\": \"\",\n    \"State\": \"\",\n    \"Country\": \"\",\n    \"City\": \"\"\n  }\n}\n\n ```\n\n#### Contact.Update\n\n``` json\n{\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"name\": \"bruce wayne\",\n  \"email\": [\n    \"batman911@gmail.com\"\n  ],\n  \"tags\": [\n    {\n      \"id\": \"667e912913d5f362da4e9282\",\n      \"name\": \"NewCustomer\"\n    }\n  ],\n  \"fieldValues\": [\n    {\n      \"fieldId\": \"62b2d6002da62b0008071adb\",\n      \"type\": \"DATE\",\n      \"value\": \"2020-11-11\",\n      \"valueDate\": \"2020-11-10T18:30:00.000Z\",\n      \"field\": {\n        \"isPrimary\": false,\n        \"isMandatory\": false,\n        \"isActive\": true,\n        \"sortOrder\": 4,\n        \"isDelete\": false,\n        \"accountId\": \"629e06e58e13b5000ae338d5\",\n        \"creatorId\": \"629ee7a28e13b5000ae33a28\",\n        \"scope\": \"CONTACT\",\n        \"name\": \"date\",\n        \"config\": {\n          \"options\": [],\n          \"type\": \"DATE\",\n          \"label\": \"Date\"\n        },\n        \"createdAt\": \"2022-06-22T08:42:40.475Z\",\n        \"updatedAt\": \"2024-07-24T10:51:27.105Z\",\n        \"id\": \"62b2d6002da62b0008071adb\"\n      }\n    },\n    {\n      \"fieldId\": \"62b2d6152da62b0008071aeb\",\n      \"type\": \"MULTI_SELECT\",\n      \"value\": [\n        \"Chennai\"\n      ],\n      \"valueArray\": [\n        \"Chennai\"\n      ],\n      \"field\": {\n        \"isPrimary\": false,\n        \"isMandatory\": false,\n        \"isActive\": true,\n        \"sortOrder\": 5,\n        \"isDelete\": false,\n        \"accountId\": \"629e06e58e13b5000ae338d5\",\n        \"creatorId\": \"629ee7a28e13b5000ae33a28\",\n        \"scope\": \"CONTACT\",\n        \"name\": \"multiselect\",\n        \"config\": {\n          \"options\": [\n            \"Chennai\",\n            \"Hyderabad\",\n            \"Calcutta\"\n          ],\n          \"type\": \"MULTI_SELECT\",\n          \"label\": \"MultiSelect\",\n          \"hint\": \"\"\n        },\n        \"createdAt\": \"2022-06-22T08:43:01.842Z\",\n        \"updatedAt\": \"2024-06-20T09:46:19.566Z\",\n        \"id\": \"62b2d6152da62b0008071aeb\"\n      }\n    },\n    {\n      \"fieldId\": \"6673fc666a872e58e8c70673\",\n      \"type\": \"NUMBER\",\n      \"value\": 644886,\n      \"valueNumber\": 644886,\n      \"field\": {\n        \"accountId\": \"629e06e58e13b5000ae338d5\",\n        \"fieldCollectionId\": \"6082ec0fc3c80000047934c7\",\n        \"name\": \"Zip_Code\",\n        \"scope\": \"CONTACT\",\n        \"config\": {\n          \"type\": \"NUMBER\",\n          \"label\": \"Zip Code\",\n          \"options\": []\n        },\n        \"isPrimary\": false,\n        \"isMandatory\": false,\n        \"isActive\": true,\n        \"creatorId\": \"629e06e48e13b5000ae338d3\",\n        \"sortOrder\": 10,\n        \"isDelete\": false,\n        \"createdAt\": \"2024-06-20T09:54:46.357Z\",\n        \"updatedAt\": \"2024-06-20T09:55:01.856Z\",\n        \"id\": \"6673fc666a872e58e8c70673\"\n      }\n    },\n    {\n      \"fieldId\": \"6673fc666a872e58e8c70678\",\n      \"type\": \"TEXT\",\n      \"value\": \"DC\",\n      \"valueString\": \"DC\",\n      \"field\": {\n        \"accountId\": \"629e06e58e13b5000ae338d5\",\n        \"fieldCollectionId\": \"6082ebd6b204e90004dede0c\",\n        \"name\": \"State\",\n        \"scope\": \"CONTACT\",\n        \"config\": {\n          \"type\": \"TEXT\",\n          \"label\": \"State\",\n          \"options\": []\n        },\n        \"isPrimary\": false,\n        \"isMandatory\": false,\n        \"isActive\": true,\n        \"creatorId\": \"629e06e48e13b5000ae338d3\",\n        \"sortOrder\": 10,\n        \"isDelete\": false,\n        \"createdAt\": \"2024-06-20T09:54:46.377Z\",\n        \"updatedAt\": \"2024-06-20T09:55:01.303Z\",\n        \"id\": \"6673fc666a872e58e8c70678\"\n      }\n    },\n    {\n      \"fieldId\": \"6673fc666a872e58e8c7067a\",\n      \"type\": \"TEXT\",\n      \"value\": \"America\",\n      \"valueString\": \"America\",\n      \"field\": {\n        \"accountId\": \"629e06e58e13b5000ae338d5\",\n        \"fieldCollectionId\": \"6082ebe3c3c80000047934c6\",\n        \"name\": \"Country\",\n        \"scope\": \"CONTACT\",\n        \"config\": {\n          \"type\": \"TEXT\",\n          \"label\": \"Country\",\n          \"options\": []\n        },\n        \"isPrimary\": false,\n        \"isMandatory\": false,\n        \"isActive\": true,\n        \"creatorId\": \"629e06e48e13b5000ae338d3\",\n        \"sortOrder\": 10,\n        \"isDelete\": false,\n        \"createdAt\": \"2024-06-20T09:54:46.391Z\",\n        \"updatedAt\": \"2024-06-20T09:55:00.049Z\",\n        \"id\": \"6673fc666a872e58e8c7067a\"\n      }\n    },\n    {\n      \"fieldId\": \"6673fc676a872e58e8c706cc\",\n      \"type\": \"TEXT\",\n      \"value\": \"gotham\",\n      \"valueString\": \"gotham\",\n      \"field\": {\n        \"accountId\": \"629e06e58e13b5000ae338d5\",\n        \"fieldCollectionId\": \"6082ebc8c3c80000047934c5\",\n        \"name\": \"City\",\n        \"scope\": \"CONTACT\",\n        \"config\": {\n          \"type\": \"TEXT\",\n          \"label\": \"City\",\n          \"options\": []\n        },\n        \"isPrimary\": false,\n        \"isMandatory\": false,\n        \"isActive\": true,\n        \"creatorId\": \"629e06e48e13b5000ae338d3\",\n        \"sortOrder\": 13,\n        \"isDelete\": false,\n        \"createdAt\": \"2024-06-20T09:54:47.594Z\",\n        \"updatedAt\": \"2024-06-20T09:55:00.561Z\",\n        \"id\": \"6673fc676a872e58e8c706cc\"\n      }\n    }\n  ],\n  \"creatorId\": \"629e06e48e13b5000ae338d3\",\n  \"messageOptIn\": true,\n  \"createdAt\": \"2024-07-29T06:13:41.234Z\",\n  \"updatedAt\": \"2024-07-29T06:17:21.990Z\",\n  \"fieldValuesKV\": {\n    \"City\": \"gotham\",\n    \"Country\": \"America\",\n    \"State\": \"DC\",\n    \"Zip_Code\": 644886,\n    \"date\": \"2020-11-10T18:30:00.000Z\",\n    \"multiselect\": [\n      \"Chennai\"\n    ]\n  },\n  \"account\": {\n    \"name\": \"Rohit Caterers\",\n    \"id\": \"629e06e58e13b5000ae338d5\"\n  },\n  \"creator\": {\n    \"name\": \"Rohit Caterer .\",\n    \"picture\": \"https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif\",\n    \"id\": \"629e06e48e13b5000ae338d3\"\n  },\n  \"company\": null,\n  \"blockedContacts\": [],\n  \"formattedPhone\": [\n    {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"9438497481\"\n    }\n  ],\n  \"marketingOptIn\": true,\n  \"contactOwner\": null,\n  \"id\": \"66a733157eb2ae33f8d4bc34\",\n  \"phone\": [\n    \"+919438497481\"\n  ],\n  \"fieldValuesCompact\": {\n    \"date\": \"2020-11-11\",\n    \"multiselect\": \"Chennai\",\n    \"Zip_Code\": 644886,\n    \"State\": \"DC\",\n    \"Country\": \"America\",\n    \"City\": \"gotham\"\n  }\n}\n\n ```\n\n#### Contact.Tag.Mapped\n\n``` json\n{\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"contactId\": \"66a733157eb2ae33f8d4bc34\",\n  \"id\": \"667ea06113d5f362da4ea1e5\",\n  \"name\": \"custom tag\",\n  \"contact\": {\n    \"_id\": \"66a733157eb2ae33f8d4bc34\",\n    \"accountId\": \"629e06e58e13b5000ae338d5\",\n    \"name\": \"bruce wayne\",\n    \"email\": [\n      \"batman911@gmail.com\"\n    ],\n    \"phone\": [\n      \"919438497481\"\n    ],\n    \"tags\": [\n      {\n        \"id\": \"667e912913d5f362da4e9282\",\n        \"name\": \"NewCustomer\"\n      },\n      {\n        \"id\": \"667ea06113d5f362da4ea1e5\",\n        \"name\": \"custom tag\"\n      }\n    ],\n    \"fieldValues\": [\n      {\n        \"fieldId\": \"62b2d6002da62b0008071adb\",\n        \"type\": \"DATE\",\n        \"value\": \"2020-11-11\",\n        \"valueDate\": \"2020-11-10T18:30:00.000Z\"\n      },\n      {\n        \"fieldId\": \"62b2d6152da62b0008071aeb\",\n        \"type\": \"MULTI_SELECT\",\n        \"value\": [\n          \"Chennai\"\n        ],\n        \"valueArray\": [\n          \"Chennai\"\n        ]\n      },\n      {\n        \"fieldId\": \"6673fc666a872e58e8c70673\",\n        \"type\": \"NUMBER\",\n        \"value\": 644886,\n        \"valueNumber\": 644886\n      },\n      {\n        \"fieldId\": \"6673fc666a872e58e8c70678\",\n        \"type\": \"TEXT\",\n        \"value\": \"DC\",\n        \"valueString\": \"DC\"\n      },\n      {\n        \"fieldId\": \"6673fc666a872e58e8c7067a\",\n        \"type\": \"TEXT\",\n        \"value\": \"America\",\n        \"valueString\": \"America\"\n      },\n      {\n        \"fieldId\": \"6673fc676a872e58e8c706cc\",\n        \"type\": \"TEXT\",\n        \"value\": \"gotham\",\n        \"valueString\": \"gotham\"\n      }\n    ],\n    \"creatorId\": \"629e06e48e13b5000ae338d3\",\n    \"messageOptIn\": true,\n    \"createdAt\": \"2024-07-29T06:13:41.234Z\",\n    \"updatedAt\": \"2024-07-29T06:27:40.800Z\",\n    \"__v\": 0,\n    \"fieldValuesKV\": {\n      \"City\": \"gotham\",\n      \"Country\": \"America\",\n      \"State\": \"DC\",\n      \"Zip_Code\": 644886,\n      \"date\": \"2020-11-10T18:30:00.000Z\",\n      \"multiselect\": [\n        \"Chennai\"\n      ]\n    },\n    \"formattedPhone\": [\n      {\n        \"countryCode\": \"91\",\n        \"phoneNumber\": \"9438497481\"\n      }\n    ],\n    \"marketingOptIn\": true,\n    \"id\": \"66a733157eb2ae33f8d4bc34\"\n  },\n  \"actor\": {\n    \"id\": \"629e06e48e13b5000ae338d3\",\n    \"type\": \"user\",\n    \"source\": \"app\"\n  }\n}\n\n ```\n\n#### Contact.Tag.Unmapped\n\n``` json\n{\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"contactId\": \"66a733157eb2ae33f8d4bc34\",\n  \"id\": \"667e912913d5f362da4e9282\",\n  \"name\": \"NewCustomer\",\n  \"tagId\": \"667e912913d5f362da4e9282\"\n}\n\n ```\n\n### Conversation Webhook Events:\n\n- `Conversation.Create`\n    \n- `Conversation.Update`\n    \n- `Conversation.UnAttended`\n    \n- `Conversation.Resolve`\n    \n- `Conversation.Followup`\n    \n- `Conversation.Tag.Mapped`\n    \n- `Conversation.Tag.unmapped`\n    \n\n``` javascript\n{  \naccountId: string;  \nchannelId: string;  \nchannelType: string;  \ncontactId: string;  \nlatestMessageId: string;  \nstatus: string;  \nuserId: string;  \nwhatsapp: {  \nwaId: string;  \nsenderId: string;  \nformattedPhone: {  \ncountryCode: string;  \nphoneNumber: string;  \n}  \n}  \nassigneeId: string;  \nassigneeType: string;  \ncreatedAt: string;  \nupdatedAt: string;  \nid: string;  \n}\n\n ```\n\n#### Example Response\n\n#### Conversation.Create\n\n``` json\n{\n  \"channel\": {\n    \"whatsapp\": {\n      \"whatsappNumber\": \"917825875224\"\n    }\n  },\n  \"contact\": {\n    \"id\": \"667ea401ab9618325dbc6ff5\",\n    \"name\": \"Pravin Saran\",\n    \"email\": [],\n    \"phone\": [\n      \"919080319148\"\n    ],\n    \"tags\": []\n  },\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"channelId\": \"629e0b6c3d6ad600044197a0\",\n  \"channelType\": \"whatsapp\",\n  \"contactId\": \"667ea401ab9618325dbc6ff5\",\n  \"latestMessageId\": \"66a739737af05041f3626c93\",\n  \"status\": \"OPEN\",\n  \"botId\": \"66a33d88944b320e3d95f79c\",\n  \"userUnreadCount\": 1,\n  \"pinnedBy\": [],\n  \"whatsapp\": {\n    \"waId\": \"919080319148\",\n    \"senderId\": \"667ea401ab9618325dbc6ff5\",\n    \"formattedPhone\": {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"9080319148\"\n    }\n  },\n  \"assigneeId\": \"66a33d88944b320e3d95f79c\",\n  \"assigneeType\": \"bot\",\n  \"messageCount\": {\n    \"received\": 1\n  },\n  \"tags\": [],\n  \"mentionedUsers\": [],\n  \"createdAt\": \"2024-07-29T06:40:52.603Z\",\n  \"updatedAt\": \"2024-07-29T06:40:52.603Z\",\n  \"bot\": {\n    \"name\": \"Order Wait\",\n    \"sessionTTL\": 60000,\n    \"sessionTimeoutMessage\": \"It's been quite for a while, your session has expired\",\n    \"version\": \"v2\",\n    \"acceptVoice\": true,\n    \"id\": \"66a33d88944b320e3d95f79c\"\n  },\n  \"id\": \"66a739747af05041f3626ca7\"\n}\n\n ```\n\n#### Conversation.Update\n\n``` json\n{\n  \"channel\": {\n    \"whatsapp\": {\n      \"whatsappNumber\": \"917825875224\"\n    }\n  },\n  \"user\": {\n    \"id\": \"629e06e48e13b5000ae338d3\",\n    \"name\": \"Rohit Caterer .\",\n    \"email\": \"rohit.gallabox@gmail.com\",\n    \"picture\": \"https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif\"\n  },\n  \"contact\": {\n    \"id\": \"667ea401ab9618325dbc6ff5\",\n    \"name\": \"Pravin Saran\",\n    \"email\": [],\n    \"phone\": [\n      \"919080319148\"\n    ],\n    \"tags\": []\n  },\n  \"_id\": \"667ea404ab9618325dbc703d\",\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"channelId\": \"629e0b6c3d6ad600044197a0\",\n  \"channelType\": \"whatsapp\",\n  \"contactId\": \"667ea401ab9618325dbc6ff5\",\n  \"latestMessageId\": \"66a739297af05041f3626bcc\",\n  \"status\": \"CLOSE\",\n  \"userUnreadCount\": 0,\n  \"pinnedBy\": [],\n  \"whatsapp\": {\n    \"waId\": \"919080319148\",\n    \"senderId\": \"667ea401ab9618325dbc6ff5\",\n    \"formattedPhone\": {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"9080319148\"\n    }\n  },\n  \"messageCount\": {\n    \"received\": 14,\n    \"private\": 8,\n    \"sent\": 85\n  },\n  \"tags\": [],\n  \"mentionedUsers\": [\n    {\n      \"userId\": \"629e06e48e13b5000ae338d3\",\n      \"lastReadMessageId\": \"66a739297af05041f3626bcc\",\n      \"userlastSeen\": \"2024-07-29T06:39:53.370Z\",\n      \"userUnreadCount\": 0,\n      \"user\": {\n        \"_id\": \"629e06e48e13b5000ae338d3\",\n        \"name\": \"Rohit Caterer .\",\n        \"email\": \"rohit.gallabox@gmail.com\",\n        \"picture\": \"https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif\",\n        \"id\": \"629e06e48e13b5000ae338d3\"\n      }\n    },\n    {\n      \"userId\": \"6634af7f1ae87cb84d64e9d8\",\n      \"userUnreadCount\": 0,\n      \"user\": {\n        \"_id\": \"6634af7f1ae87cb84d64e9d8\",\n        \"name\": \"guest\",\n        \"email\": \"qagallabox24@mailinator.com\",\n        \"id\": \"6634af7f1ae87cb84d64e9d8\"\n      }\n    },\n    {\n      \"userId\": \"665459eb46c268e1e4674f4e\",\n      \"userUnreadCount\": 0,\n      \"user\": {\n        \"_id\": \"665459eb46c268e1e4674f4e\",\n        \"name\": \"sb2751\",\n        \"email\": \"sb2751@mailinator.com\",\n        \"id\": \"665459eb46c268e1e4674f4e\"\n      }\n    }\n  ],\n  \"createdAt\": \"2024-06-28T11:52:36.419Z\",\n  \"updatedAt\": \"2024-07-29T06:40:28.694Z\",\n  \"__v\": 0,\n  \"hasUnreadMessages\": false,\n  \"userLastSeen\": \"2024-07-29T06:40:05.761Z\",\n  \"lastReadMessageId\": \"6683eb96012529308b6f2a69\",\n  \"assigneeId\": \"629e06e48e13b5000ae338d3\",\n  \"assigneeType\": \"user\",\n  \"userId\": \"629e06e48e13b5000ae338d3\",\n  \"resolvedDate\": \"2024-07-29T06:40:28.693Z\",\n  \"web\": {\n    \"visitor\": null,\n    \"visitorUnreadCount\": 0\n  },\n  \"bot\": null,\n  \"latestMessage\": {\n    \"_id\": \"66a739297af05041f3626bcc\",\n    \"conversationId\": \"667ea404ab9618325dbc703d\",\n    \"accountId\": \"629e06e58e13b5000ae338d5\",\n    \"channelId\": \"629e0b6c3d6ad600044197a0\",\n    \"channelType\": \"whatsapp\",\n    \"localMessageId\": \"dd761709-b9fc-4d44-afb7-487c1c997415\",\n    \"contactId\": \"667ea401ab9618325dbc6ff5\",\n    \"sender\": \"667ea401ab9618325dbc6ff5\",\n    \"whatsapp\": {\n      \"id\": \"wamid.HBgMOTE5MDgwMzE5MTQ4FQIAEhggQ0U1NTNEOTdDNjIwNjAwMTQxMDQ5MzQxQjI1N0M5OTMA\",\n      \"from\": \"919080319148\",\n      \"time\": \"2024-07-29T06:39:34.000Z\",\n      \"status\": \"received\",\n      \"statusTime\": \"2024-07-29T06:39:34.000Z\",\n      \"statusGroup\": \"pending\",\n      \"type\": \"text\",\n      \"text\": {\n        \"body\": \"Testing\"\n      }\n    },\n    \"createdAt\": \"2024-07-29T06:39:39.084Z\",\n    \"updatedAt\": \"2024-07-29T06:39:39.084Z\",\n    \"toSync\": true,\n    \"__v\": 0,\n    \"user\": null,\n    \"id\": \"66a739297af05041f3626bcc\"\n  },\n  \"id\": \"667ea404ab9618325dbc703d\"\n}\n\n ```\n\n#### Conversation.UnAttended\n\n``` json\n{\n  \"channel\": {\n    \"whatsapp\": {\n      \"whatsappNumber\": \"917825875224\"\n    }\n  },\n  \"contact\": {\n    \"id\": \"667ea401ab9618325dbc6ff5\",\n    \"name\": \"Pravin Saran\",\n    \"email\": [],\n    \"phone\": [\n      \"919080319148\"\n    ],\n    \"tags\": []\n  },\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"channelId\": \"629e0b6c3d6ad600044197a0\",\n  \"channelType\": \"whatsapp\",\n  \"contactId\": \"667ea401ab9618325dbc6ff5\",\n  \"latestMessageId\": \"66a739737af05041f3626c93\",\n  \"status\": \"OPEN\",\n  \"botId\": \"66a33d88944b320e3d95f79c\",\n  \"userUnreadCount\": 0,\n  \"pinnedBy\": [],\n  \"whatsapp\": {\n    \"waId\": \"919080319148\",\n    \"senderId\": \"667ea401ab9618325dbc6ff5\",\n    \"formattedPhone\": {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"9080319148\"\n    }\n  },\n  \"assigneeId\": \"66a33d88944b320e3d95f79c\",\n  \"assigneeType\": \"bot\",\n  \"messageCount\": {\n    \"received\": 1\n  },\n  \"tags\": [],\n  \"mentionedUsers\": [],\n  \"createdAt\": \"2024-07-29T06:40:52.603Z\",\n  \"updatedAt\": \"2024-07-29T06:40:58.446Z\",\n  \"hasUnreadMessages\": false,\n  \"lastReadMessageId\": \"66a739737af05041f3626c93\",\n  \"userLastSeen\": \"2024-07-29T06:40:58.446Z\",\n  \"bot\": {\n    \"name\": \"Order Wait\",\n    \"sessionTTL\": 60000,\n    \"sessionTimeoutMessage\": \"It's been quite for a while, your session has expired\",\n    \"version\": \"v2\",\n    \"acceptVoice\": true,\n    \"id\": \"66a33d88944b320e3d95f79c\"\n  },\n  \"latestMessage\": {\n    \"conversationId\": \"66a739747af05041f3626ca7\",\n    \"accountId\": \"629e06e58e13b5000ae338d5\",\n    \"channelId\": \"629e0b6c3d6ad600044197a0\",\n    \"channelType\": \"whatsapp\",\n    \"localMessageId\": \"1bd0fc12-db8b-430f-8337-40fd742045c2\",\n    \"contactId\": \"667ea401ab9618325dbc6ff5\",\n    \"sender\": \"667ea401ab9618325dbc6ff5\",\n    \"whatsapp\": {\n      \"id\": \"wamid.HBgMOTE5MDgwMzE5MTQ4FQIAEhggNDNBQkMxMURCMDc2OTE0RjNDQ0EzQTQ5NzFENUIzQjEA\",\n      \"from\": \"919080319148\",\n      \"time\": \"2024-07-29T06:40:49.000Z\",\n      \"status\": \"read\",\n      \"statusTime\": \"2024-07-29T06:40:59.250Z\",\n      \"statusGroup\": \"pending\",\n      \"type\": \"text\",\n      \"text\": {\n        \"body\": \"Testing\"\n      },\n      \"statusLog\": [\n        {\n          \"status\": \"sent\",\n          \"date\": \"2024-07-29T06:40:59.250Z\"\n        },\n        {\n          \"status\": \"delivered\",\n          \"date\": \"2024-07-29T06:40:59.250Z\"\n        },\n        {\n          \"status\": \"read\",\n          \"date\": \"2024-07-29T06:40:59.250Z\"\n        }\n      ]\n    },\n    \"createdAt\": \"2024-07-29T06:40:54.407Z\",\n    \"updatedAt\": \"2024-07-29T06:40:59.447Z\",\n    \"toSync\": true,\n    \"user\": null,\n    \"id\": \"66a739737af05041f3626c93\"\n  },\n  \"id\": \"66a739747af05041f3626ca7\"\n}\n\n ```\n\n#### Conversation.Resolve\n\n``` json\n{\n  \"channel\": {\n    \"whatsapp\": {\n      \"whatsappNumber\": \"917825875224\"\n    }\n  },\n  \"user\": {\n    \"id\": \"629e06e48e13b5000ae338d3\",\n    \"name\": \"Rohit Caterer .\",\n    \"email\": \"rohit.gallabox@gmail.com\",\n    \"picture\": \"https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif\"\n  },\n  \"contact\": {\n    \"id\": \"667ea401ab9618325dbc6ff5\",\n    \"name\": \"Pravin Saran\",\n    \"email\": [],\n    \"phone\": [\n      \"919080319148\"\n    ],\n    \"tags\": []\n  },\n  \"_id\": \"667ea404ab9618325dbc703d\",\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"channelId\": \"629e0b6c3d6ad600044197a0\",\n  \"channelType\": \"whatsapp\",\n  \"contactId\": \"667ea401ab9618325dbc6ff5\",\n  \"latestMessageId\": \"66a739297af05041f3626bcc\",\n  \"status\": \"CLOSE\",\n  \"userUnreadCount\": 0,\n  \"pinnedBy\": [],\n  \"whatsapp\": {\n    \"waId\": \"919080319148\",\n    \"senderId\": \"667ea401ab9618325dbc6ff5\",\n    \"formattedPhone\": {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"9080319148\"\n    }\n  },\n  \"messageCount\": {\n    \"received\": 14,\n    \"private\": 8,\n    \"sent\": 85\n  },\n  \"tags\": [],\n  \"mentionedUsers\": [\n    {\n      \"userId\": \"629e06e48e13b5000ae338d3\",\n      \"lastReadMessageId\": \"66a739297af05041f3626bcc\",\n      \"userlastSeen\": \"2024-07-29T06:39:53.370Z\",\n      \"userUnreadCount\": 0,\n      \"user\": {\n        \"_id\": \"629e06e48e13b5000ae338d3\",\n        \"name\": \"Rohit Caterer .\",\n        \"email\": \"rohit.gallabox@gmail.com\",\n        \"picture\": \"https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif\",\n        \"id\": \"629e06e48e13b5000ae338d3\"\n      }\n    },\n    {\n      \"userId\": \"6634af7f1ae87cb84d64e9d8\",\n      \"userUnreadCount\": 0,\n      \"user\": {\n        \"_id\": \"6634af7f1ae87cb84d64e9d8\",\n        \"name\": \"guest\",\n        \"email\": \"qagallabox24@mailinator.com\",\n        \"id\": \"6634af7f1ae87cb84d64e9d8\"\n      }\n    },\n    {\n      \"userId\": \"665459eb46c268e1e4674f4e\",\n      \"userUnreadCount\": 0,\n      \"user\": {\n        \"_id\": \"665459eb46c268e1e4674f4e\",\n        \"name\": \"sb2751\",\n        \"email\": \"sb2751@mailinator.com\",\n        \"id\": \"665459eb46c268e1e4674f4e\"\n      }\n    }\n  ],\n  \"createdAt\": \"2024-06-28T11:52:36.419Z\",\n  \"updatedAt\": \"2024-07-29T06:40:28.694Z\",\n  \"__v\": 0,\n  \"hasUnreadMessages\": false,\n  \"userLastSeen\": \"2024-07-29T06:40:05.761Z\",\n  \"lastReadMessageId\": \"6683eb96012529308b6f2a69\",\n  \"assigneeId\": \"629e06e48e13b5000ae338d3\",\n  \"assigneeType\": \"user\",\n  \"userId\": \"629e06e48e13b5000ae338d3\",\n  \"resolvedDate\": \"2024-07-29T06:40:28.693Z\",\n  \"web\": {\n    \"visitor\": null,\n    \"visitorUnreadCount\": 0\n  },\n  \"bot\": null,\n  \"latestMessage\": {\n    \"_id\": \"66a739297af05041f3626bcc\",\n    \"conversationId\": \"667ea404ab9618325dbc703d\",\n    \"accountId\": \"629e06e58e13b5000ae338d5\",\n    \"channelId\": \"629e0b6c3d6ad600044197a0\",\n    \"channelType\": \"whatsapp\",\n    \"localMessageId\": \"dd761709-b9fc-4d44-afb7-487c1c997415\",\n    \"contactId\": \"667ea401ab9618325dbc6ff5\",\n    \"sender\": \"667ea401ab9618325dbc6ff5\",\n    \"whatsapp\": {\n      \"id\": \"wamid.HBgMOTE5MDgwMzE5MTQ4FQIAEhggQ0U1NTNEOTdDNjIwNjAwMTQxMDQ5MzQxQjI1N0M5OTMA\",\n      \"from\": \"919080319148\",\n      \"time\": \"2024-07-29T06:39:34.000Z\",\n      \"status\": \"received\",\n      \"statusTime\": \"2024-07-29T06:39:34.000Z\",\n      \"statusGroup\": \"pending\",\n      \"type\": \"text\",\n      \"text\": {\n        \"body\": \"Testing\"\n      }\n    },\n    \"createdAt\": \"2024-07-29T06:39:39.084Z\",\n    \"updatedAt\": \"2024-07-29T06:39:39.084Z\",\n    \"toSync\": true,\n    \"__v\": 0,\n    \"user\": null,\n    \"id\": \"66a739297af05041f3626bcc\"\n  },\n  \"id\": \"667ea404ab9618325dbc703d\"\n}\n\n ```\n\n#### Conversation.Followup\n\n``` json\n{\n  \"channel\": {\n    \"whatsapp\": {\n      \"whatsappNumber\": \"917825875224\"\n    }\n  },\n  \"user\": {\n    \"id\": \"629e06e48e13b5000ae338d3\",\n    \"name\": \"Rohit Caterer .\",\n    \"email\": \"rohit.gallabox@gmail.com\",\n    \"picture\": \"https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif\"\n  },\n  \"contact\": {\n    \"id\": \"63e13e169129ab444288efe4\",\n    \"name\": \"Pravin GMMMMMM\",\n    \"email\": [\n      \"gmpravin@gmail.com\"\n    ],\n    \"phone\": [\n      \"918608031561\"\n    ],\n    \"tags\": [\n      {\n        \"id\": \"652596d1a3bb3f09ebcda17f\",\n        \"name\": \"OOOOOO\"\n      }\n    ]\n  },\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"channelId\": \"629e0b6c3d6ad600044197a0\",\n  \"channelType\": \"whatsapp\",\n  \"contactId\": \"63e13e169129ab444288efe4\",\n  \"latestMessageId\": \"669f8f5ef9cf6f9fc87d4df9\",\n  \"status\": \"OPEN\",\n  \"userUnreadCount\": 0,\n  \"pinnedBy\": [],\n  \"whatsapp\": {\n    \"waId\": \"918608031561\",\n    \"senderId\": \"629e06e48e13b5000ae338d3\",\n    \"formattedPhone\": {\n      \"countryCode\": \"91\",\n      \"phoneNumber\": \"8608031561\"\n    }\n  },\n  \"tags\": [],\n  \"mentionedUsers\": [],\n  \"createdAt\": \"2024-06-27T08:45:10.582Z\",\n  \"updatedAt\": \"2024-07-29T06:46:23.270Z\",\n  \"userLastSeen\": \"2024-07-29T06:46:23.269Z\",\n  \"hasUnreadMessages\": false,\n  \"assigneeId\": \"629e06e48e13b5000ae338d3\",\n  \"assigneeType\": \"user\",\n  \"userId\": \"629e06e48e13b5000ae338d3\",\n  \"lastReadMessageId\": \"669f8f5ef9cf6f9fc87d4df9\",\n  \"latestTranslationLanguages\": [\n    \"hy\"\n  ],\n  \"followup\": \"2024-07-29T07:00:00.000Z\",\n  \"followupCreatedById\": \"629e06e48e13b5000ae338d3\",\n  \"bot\": null,\n  \"latestMessage\": {\n    \"conversationId\": \"667d26963921920ce2e07071\",\n    \"accountId\": \"629e06e58e13b5000ae338d5\",\n    \"channelId\": \"629e0b6c3d6ad600044197a0\",\n    \"channelType\": \"whatsapp\",\n    \"localMessageId\": \"65631407-8f79-4d87-ba3d-12383f943c2f\",\n    \"contactId\": \"63e13e169129ab444288efe4\",\n    \"sender\": \"629e06e48e13b5000ae338d3\",\n    \"context\": {\n      \"type\": \"default\",\n      \"buttonClick\": [],\n      \"medium\": \"payment\",\n      \"source\": \"gb-web-app\"\n    },\n    \"whatsapp\": {\n      \"id\": \"wamid.HBgMOTE4NjA4MDMxNTYxFQIAERgSRjg5QUIzOTQzRDAxQzk3ODdFAA==\",\n      \"to\": \"918608031561\",\n      \"time\": \"2024-07-23T11:09:18.146Z\",\n      \"status\": \"delivered\",\n      \"statusTime\": \"2024-07-23T11:09:23.000Z\",\n      \"statusGroup\": \"pending\",\n      \"type\": \"template\",\n      \"template\": {\n        \"templateId\": \"642e6f91d6f5071a649a4360\",\n        \"body\": \"Hi Pravin GMMMMMM\\n\\nRohit Caterers has requested INR. 11 for Test. \\n\\nPlease click on the below button to proceed.\",\n        \"header\": {\n          \"type\": \"image\",\n          \"image\": {\n            \"id\": \"2311471805728231\",\n            \"mimeType\": \"\",\n            \"path\": \"https://files.gallabox.dev/6244519270ba510009e784d0/d508f60b-00de-444c-b7d9-6c68b360acbb-image1.png\"\n          }\n        },\n        \"buttons\": [\n          {\n            \"type\": \"url\",\n            \"text\": \"Pay Now\",\n            \"url\": \"https://app.gallabox.com/redirect?url=https://rzp.io/i/qCLuMiXwQ\"\n          }\n        ],\n        \"bodyValues\": {\n          \"1\": \"Pravin GMMMMMM\",\n          \"2\": \"Rohit Caterers\",\n          \"3\": \"INR\",\n          \"4\": \"11\",\n          \"5\": \"Test\"\n        },\n        \"buttonValues\": [\n          {\n            \"index\": 0,\n            \"sub_type\": \"url\",\n            \"parameters\": {\n              \"type\": \"text\",\n              \"text\": \"redirect?url=https://rzp.io/i/qCLuMiXwQ\"\n            }\n          }\n        ],\n        \"variableValues\": {\n          \"headerValues\": [\n            {\n              \"type\": \"image\",\n              \"id\": \"2311471805728231\",\n              \"url\": \"https://files.gallabox.dev/6244519270ba510009e784d0/d508f60b-00de-444c-b7d9-6c68b360acbb-image1.png\",\n              \"isOverridden\": false\n            }\n          ],\n          \"bodyValues\": [\n            {\n              \"name\": \"1\",\n              \"value\": \"Pravin GMMMMMM\"\n            },\n            {\n              \"name\": \"2\",\n              \"value\": \"Rohit Caterers\"\n            },\n            {\n              \"name\": \"3\",\n              \"value\": \"INR\"\n            },\n            {\n              \"name\": \"4\",\n              \"value\": \"11\"\n            },\n            {\n              \"name\": \"5\",\n              \"value\": \"Test\"\n            }\n          ],\n          \"buttonValues\": [\n            {\n              \"index\": 0,\n              \"sub_type\": \"url\",\n              \"parameters\": {\n                \"type\": \"text\",\n                \"text\": \"redirect?url=https://rzp.io/i/qCLuMiXwQ\"\n              }\n            }\n          ]\n        }\n      },\n      \"retryable\": false,\n      \"statusLog\": [\n        {\n          \"status\": \"queued\",\n          \"date\": \"2024-07-23T11:09:21.955Z\"\n        },\n        {\n          \"status\": \"sent\",\n          \"date\": \"2024-07-23T11:09:22.000Z\"\n        },\n        {\n          \"status\": \"sent\",\n          \"date\": \"2024-07-23T11:09:23.000Z\"\n        },\n        {\n          \"status\": \"delivered\",\n          \"date\": \"2024-07-23T11:09:23.000Z\"\n        }\n      ],\n      \"conversation\": {\n        \"expiration_timestamp\": 1721761440,\n        \"id\": \"8a696812fd83f9267190dc74a85668b2\",\n        \"origin\": {\n          \"type\": \"marketing\"\n        }\n      },\n      \"pricing\": {\n        \"billable\": true,\n        \"category\": \"marketing\",\n        \"pricing_model\": \"CBP\"\n      }\n    },\n    \"createdAt\": \"2024-07-23T11:09:19.621Z\",\n    \"updatedAt\": \"2024-07-23T11:09:26.784Z\",\n    \"toSync\": true,\n    \"user\": null,\n    \"id\": \"669f8f5ef9cf6f9fc87d4df9\"\n  },\n  \"id\": \"667d26963921920ce2e07071\"\n}\n\n ```\n\n#### Conversation.Tag.Mapped\n\n``` json\n{\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"channelId\": \"629e0b6c3d6ad600044197a0\",\n  \"contactId\": \"667ea401ab9618325dbc6ff5\",\n  \"conversationId\": \"66a739747af05041f3626ca7\",\n  \"tagId\": \"667e912913d5f362da4e9282\",\n  \"name\": \"NewCustomer\",\n  \"updateBy\": \"629e06e48e13b5000ae338d3\"\n}\n\n ```\n\n### Conversation.Tag.Unmapped\n\n``` json\n{\n  \"accountId\": \"629e06e58e13b5000ae338d5\",\n  \"conversationId\": \"66a739747af05041f3626ca7\",\n  \"tagId\": \"667e912913d5f362da4e9282\",\n  \"updateBy\": \"629e06e48e13b5000ae338d3\",\n  \"name\": \"NewCustomer\"\n}\n\n ```\n\n### Message Webhooks Events:\n\n- `Message.Received`\n    \n- `Message.Flow.Received`\n    \n- `Message.WA.Cart.Received`\n    \n- `Message.WA.Status.Received`\n    \n- `Message.WA.Status.Failed`\n    \n- `Message.WA.Payment.Status.Received`\n    \n- `Message.WA.Interaction.Received`\n    \n\n``` javascript\n{ \nid: string; \nrecipient_id: string;\ntimestamp: string; \nstatus: \"unknown\" | \"sent\" | \"received\" | \"delivered\" | \"read\" | \"failed\" | \"deleted\" | \"error\",\nerrors: [{ \n    code: number; \n    title: string; \n    details?: string; \n    href?: string; \n    time?: Date; }]\n}\n\n ```\n\n#### Example Response\n\n#### Message.Received\n\n``` json\n{\n  \"id\": \"66a7589f134824b4215f9839\",\n  \"conversationId\": \"66a746a37eb2ae33f8d4c8ae\",\n  \"accountId\": \"629e0ceb3d6ad600044197d2\",\n  \"channelId\": \"6526728352c32baaccd9d295\",\n  \"channelType\": \"whatsapp\",\n  \"localMessageId\": \"00c6d6f2-7347-47f4-b89a-36ae99db733f\",\n  \"contactId\": \"66a7469c7eb2ae33f8d4c891\",\n  \"sender\": \"66a7469c7eb2ae33f8d4c891\",\n  \"whatsapp\": {\n    \"id\": \"wamid.HBgMOTE5MDgwMzE5MTQ4FQIAEhggMUFDMkE3OUJDM0I5Q0FEQzdDRjI5NzlDRDgzNTFDQTIA\",\n    \"from\": \"919080319148\",\n    \"time\": \"2024-07-29T08:53:48.000Z\",\n    \"status\": \"received\",\n    \"statusTime\": \"2024-07-29T08:53:48.000Z\",\n    \"statusGroup\": \"pending\",\n    \"type\": \"interactive\",\n    \"context\": {\n      \"from\": \"918297962225\",\n      \"id\": \"wamid.HBgMOTE5MDgwMzE5MTQ4FQIAERgSQTA4NjU5RkU3RkVEQ0FDOTlFAA==\",\n      \"reply\": {\n        \"messageId\": \"66a758907eb2ae33f8d4d0c6\",\n        \"type\": \"interactive\",\n        \"senderId\": \"629e0ceb3d6ad600044197d0\",\n        \"context\": {\n          \"source\": \"gb-web-app\"\n        },\n        \"localMessageId\": \"486897b4-5baa-4caa-8705-f6b0d52db8db\"\n      }\n    },\n    \"interactive\": {\n      \"type\": \"nfm_reply\",\n      \"nfm_reply\": {\n        \"response_json\": \"{\\\"screen_0_CheckboxGroup_0\\\":[\\\"1_Car\\\"],\\\"flow_token\\\":\\\"{\\\\\\\"mId\\\\\\\":\\\\\\\"66a758907eb2ae33f8d4d0c6\\\\\\\",\\\\\\\"fId\\\\\\\":\\\\\\\"1166633031162369\\\\\\\"}\\\"}\",\n        \"body\": \"Sent\",\n        \"name\": \"flow\"\n      }\n    }\n  },\n  \"contact\": {\n    \"id\": \"66a7469c7eb2ae33f8d4c891\",\n    \"name\": \"pravin saran\"\n  }\n}\n\n ```\n\n#### Message.Flow.Received\n\n``` json\n{\n  \"flowResponse\": {\n    \"accountId\": \"629e0ceb3d6ad600044197d2\",\n    \"channelId\": \"6526728352c32baaccd9d295\",\n    \"channelType\": \"whatsapp\",\n    \"flowData\": {\n      \"screen_0_CheckboxGroup_0\": [\n        \"1_Car\"\n      ],\n      \"flow_token\": \"{\\\"mId\\\":\\\"66a758907eb2ae33f8d4d0c6\\\",\\\"fId\\\":\\\"1166633031162369\\\"}\"\n    },\n    \"localMessageId\": \"00c6d6f2-7347-47f4-b89a-36ae99db733f\",\n    \"contactId\": \"66a7469c7eb2ae33f8d4c891\",\n    \"conversationId\": \"66a746a37eb2ae33f8d4c8ae\",\n    \"sender\": \"66a7469c7eb2ae33f8d4c891\",\n    \"contactName\": \"pravin saran\"\n  }\n}\n\n ```\n\n#### Message.WA.Cart.Received\n\n``` json\n{\n  \"id\": \"66a76564ec5edc37b45513ec\",\n  \"conversationId\": \"66a746a37eb2ae33f8d4c8ae\",\n  \"accountId\": \"629e0ceb3d6ad600044197d2\",\n  \"channelId\": \"6526728352c32baaccd9d295\",\n  \"channelType\": \"whatsapp\",\n  \"localMessageId\": \"7e27f7a5-422f-455e-9c46-cda45cbee0cc\",\n  \"contactId\": \"66a7469c7eb2ae33f8d4c891\",\n  \"sender\": \"66a7469c7eb2ae33f8d4c891\",\n  \"whatsapp\": {\n    \"id\": \"wamid.HBgMOTE5MDgwMzE5MTQ4FQIAEhggN0JEOEZGQUMwNEU1ODI3ODc2RjZEQTRFMTYwOUMwNUQA\",\n    \"from\": \"919080319148\",\n    \"time\": \"2024-07-29T09:48:11.000Z\",\n    \"status\": \"received\",\n    \"statusTime\": \"2024-07-29T09:48:11.000Z\",\n    \"statusGroup\": \"pending\",\n    \"type\": \"order\",\n    \"order\": {\n      \"catalog_id\": \"1082325126087394\",\n      \"product_items\": [\n        {\n          \"product_retailer_id\": \"1001\",\n          \"item_price\": 80,\n          \"quantity\": 1,\n          \"currency\": \"INR\"\n        }\n      ],\n      \"text\": \"\",\n      \"products\": [\n        {\n          \"fbProductId\": \"24165133143085205\",\n          \"retailer_id\": \"1001\",\n          \"name\": \"Appam\",\n          \"description\": \"Appam\",\n          \"price\": \"₹80.00\",\n          \"image_url\": \"https://files.gallabox.dev/61f96e67b315bd0004ca4ba0/1655360316223-Appam-jpeg.jpeg\"\n        }\n      ]\n    }\n  },\n  \"contact\": {\n    \"id\": \"66a7469c7eb2ae33f8d4c891\",\n    \"name\": \"pravin saran\"\n  }\n}\n\n ```\n\n#### Message.WA.Status.Received\n\n``` json\n{\n  \"id\": \"66a7699b87b97af3ec4f2c7c\",\n  \"status\": \"read\",\n  \"timestamp\": \"1722247579\",\n  \"errors\": [],\n  \"message\": {\n    \"recipient_id\": \"919080319148\"\n  },\n  \"recipient_id\": \"919080319148\",\n  \"localMessageId\": \"20fdf4ba-a363-43a2-940c-99e8a086da29\"\n}\n\n ```\n\n#### Message.WA.Status.Failed\n\n``` json\n{\n  \"id\": \"66a76a5487b97af3ec4f2d35\",\n  \"status\": \"failed\",\n  \"timestamp\": \"1722247764\",\n  \"errors\": [\n    {\n      \"code\": 131026,\n      \"title\": \"Message undeliverable\",\n      \"message\": \"Message undeliverable\",\n      \"error_data\": {\n        \"details\": \"Message Undeliverable.\"\n      },\n      \"time\": \"2024-07-29T10:09:29.318Z\"\n    }\n  ],\n  \"message\": {\n    \"recipient_id\": \"919080849148\"\n  },\n  \"recipient_id\": \"919080849148\",\n  \"localMessageId\": \"8fc4c05a-f0d7-4c34-8940-0238f5989af5\"\n}\n\n ```\n\n#### Message.WA.Payment.Status.Received\n\n``` json\n{\n  \"id\": \"wamid.HBgMOTE5ODQxNjQ4Nzc1FQIAEhgIMjc4OTE0MTcA\",\n  \"status\": \"captured\",\n  \"timestamp\": \"1724924692\",\n  \"recipient_id\": \"919841648775\",\n  \"type\": \"payment\",\n  \"payment\": {\n    \"reference_id\": \"66d042fca20113a206ad1f48\",\n    \"currency\": \"INR\",\n    \"transaction\": [\n      {\n        \"id\": \"424267693819\",\n        \"type\": \"upi\",\n        \"status\": \"success\",\n        \"created_timestamp\": 1724924686,\n        \"updated_timestamp\": 1724924691\n      }\n    ]\n  },\n  \"orderType\": \"payments\"\n}\n\n ```\n\n#### Message.WA.Interaction.Received\n\n``` json\n{\n  \"id\": \"66a7699b87b97af3ec4f2c7c\",\n  \"timestamp\": \"1722248768\",\n  \"message\": {\n    \"recipient_id\": \"919080319148\"\n  },\n  \"recipient_id\": \"919080319148\",\n  \"localMessageId\": \"20fdf4ba-a363-43a2-940c-99e8a086da29\",\n  \"interaction\": \"reaction\",\n  \"reaction\": {\n    \"emoji\": \"👍\"\n  }\n}\n\n ```\n\n### Template Webhook Events:\n\n- `Template.Status`\n    \n\n#### Template.Status\n\n``` json\n{\n  \"name\": \"new_marketing_template\",\n  \"new_status\": \"error\",\n  \"language\": \"en\",\n  \"rejected_reason\": \"New English content can't be added while the existing English content is being deleted. Try again in 4 weeks or consider creating a new message template.\",\n  \"id\": \"66a8904956e2d5f4ff69357e\"\n}\n\n ```"
    },
    {
      "name": "WhatsApp Templates"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Broadcast"
    }
  ],
  "security": [
    {
      "apiKey": [],
      "apiSecret": []
    }
  ],
  "paths": {
    "/devapi/accounts/{accountId}/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Invite Users",
        "operationId": "usersInviteUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invites": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "inviteEmail": {
                          "type": "string",
                          "example": "Batman777@gmail.com"
                        },
                        "inviteName": {
                          "type": "string",
                          "example": "Bruce"
                        },
                        "roleName": {
                          "type": "string",
                          "example": "all conversations"
                        },
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "65262f445a3d42655c11aadd"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "inviteUsers": {
                  "summary": "Invite Users",
                  "value": {
                    "invites": [
                      {
                        "inviteEmail": "Batman777@gmail.com",
                        "inviteName": "Bruce",
                        "roleName": "all conversations",
                        "channels": [
                          "65262f445a3d42655c11aadd",
                          "676d205511343b072f18ca2e"
                        ]
                      },
                      {
                        "inviteEmail": "Joker666@gmail.com",
                        "inviteName": "Auther",
                        "roleName": "false role",
                        "channels": [
                          "65262f445a3d42655c11aadd",
                          "676d205511343b072f18ca2e"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "invite": {
                        "type": "object",
                        "properties": {
                          "inviteName": {
                            "type": "string",
                            "example": "Bruce"
                          },
                          "inviteEmail": {
                            "type": "string",
                            "example": "Batman777@gmail.com"
                          },
                          "roleId": {
                            "type": "string",
                            "example": "67458e83d9cd0b790c51f94e"
                          },
                          "status": {
                            "type": "string",
                            "example": "PENDING"
                          },
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "65262f445a3d42655c11aadd"
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "direct"
                          }
                        }
                      },
                      "inviteEmail": {
                        "type": "string",
                        "example": "Batman777@gmail.com"
                      },
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "error": {
                        "type": "string",
                        "example": "role not found"
                      }
                    }
                  }
                },
                "examples": {
                  "inviteUsersInviteUsers": {
                    "summary": "Invite Users",
                    "value": [
                      {
                        "invite": {
                          "inviteName": "Bruce",
                          "inviteEmail": "Batman777@gmail.com",
                          "roleId": "67458e83d9cd0b790c51f94e",
                          "status": "PENDING",
                          "channels": [
                            "65262f445a3d42655c11aadd",
                            "676d205511343b072f18ca2e"
                          ],
                          "type": "direct"
                        },
                        "inviteEmail": "Batman777@gmail.com",
                        "success": true
                      },
                      {
                        "inviteEmail": "Joker666@gmail.com",
                        "error": "role not found",
                        "success": false
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Current Users",
        "operationId": "usersGetCurrentUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "sb2751"
                      },
                      "email": {
                        "type": "string",
                        "example": "sb2751@mailinator.com"
                      },
                      "accounts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "accountId": {
                              "type": "string",
                              "example": "629e06e58e13b5000ae338d5"
                            },
                            "roleId": {
                              "type": "string",
                              "example": "60925e84f8fd0d000439dc9e"
                            },
                            "availability": {
                              "type": "string",
                              "example": "Available"
                            },
                            "teamIds": {
                              "type": "array",
                              "items": {}
                            },
                            "channelIds": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "629e0b6c3d6ad600044197a0"
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "example": "2024-05-27T10:01:15.687Z"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2024-05-27T10:01:15.687Z"
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "example": "665459eb46c268e1e4674f4e"
                      },
                      "exists": {
                        "type": "boolean",
                        "example": true
                      },
                      "picture": {
                        "type": "string",
                        "example": "https://files.gallabox.dev/629e06e58e13b5000ae338d5/1655967174269-elsa-frozen-today-square-190930--1-.jpg"
                      }
                    }
                  }
                },
                "examples": {
                  "getCurrentUsersGetCurrentUsers": {
                    "summary": "Get Current Users",
                    "value": [
                      {
                        "name": "sb2751",
                        "email": "sb2751@mailinator.com",
                        "accounts": [
                          {
                            "accountId": "629e06e58e13b5000ae338d5",
                            "roleId": "60925e84f8fd0d000439dc9e",
                            "availability": "Available",
                            "teamIds": [],
                            "channelIds": [
                              "629e0b6c3d6ad600044197a0"
                            ],
                            "createdAt": "2024-05-27T10:01:15.687Z",
                            "updatedAt": "2024-05-27T10:01:15.687Z"
                          }
                        ],
                        "id": "665459eb46c268e1e4674f4e",
                        "exists": true
                      },
                      {
                        "name": "guest",
                        "email": "qagallabox24@mailinator.com",
                        "accounts": [
                          {
                            "accountId": "629e06e58e13b5000ae338d5",
                            "roleId": "60925e6bac1c1a00042cecd1",
                            "availability": "Away",
                            "teamIds": [
                              "667401626a872e58e8c717db"
                            ],
                            "channelIds": [
                              "629e0b6c3d6ad600044197a0"
                            ],
                            "createdAt": "2024-05-03T09:33:52.042Z",
                            "updatedAt": "2024-07-03T07:38:15.928Z"
                          }
                        ],
                        "id": "6634af7f1ae87cb84d64e9d8",
                        "exists": true
                      },
                      {
                        "name": "Viswa",
                        "email": "viswa.prasad@gallabox.com",
                        "accounts": [
                          {
                            "accountId": "629e06e58e13b5000ae338d5",
                            "roleId": "60925e93ac1c1a00042cecd2",
                            "availability": "Available",
                            "teamIds": [],
                            "channelIds": [
                              "629e0b6c3d6ad600044197a0",
                              "65ddd4dd8e7666d47478c6a6",
                              "65ddded632af0b2336d39997"
                            ],
                            "createdAt": "2024-01-30T06:56:10.943Z",
                            "updatedAt": "2024-01-30T06:56:10.943Z"
                          }
                        ],
                        "id": "65b89d8a42e9369b4b4ad563",
                        "exists": true
                      },
                      {
                        "name": "Jay",
                        "email": "jayaroopini.gallabox@mailinator.com",
                        "accounts": [
                          {
                            "accountId": "629e06e58e13b5000ae338d5",
                            "roleId": "60925e93ac1c1a00042cecd2",
                            "availability": "Available",
                            "teamIds": [
                              "642296e2a36bd725c5aeaca3",
                              "62b00270da5e18000833f443"
                            ],
                            "channelIds": [
                              "652f7a0fb57a75e38a1f8b35",
                              "65ddd4dd8e7666d47478c6a6",
                              "65ddded632af0b2336d39997"
                            ],
                            "createdAt": "2022-11-09T10:20:02.270Z",
                            "updatedAt": "2024-05-03T08:21:38.006Z"
                          }
                        ],
                        "id": "636b7ed205cf71995632d369",
                        "exists": true
                      },
                      {
                        "name": "Jayaroopini Gopal",
                        "email": "jayaroopini.gopal@mangoleap.com",
                        "accounts": [
                          {
                            "accountId": "629e06e58e13b5000ae338d5",
                            "roleId": "60925e93ac1c1a00042cecd2",
                            "createdAt": "2022-06-07T05:52:34.259Z",
                            "updatedAt": "2024-06-21T11:40:03.570Z",
                            "teamIds": [
                              "62a9aaaa5ffb4f0007d1fa87",
                              "62a9b79c5ffb4f0007d1fc11",
                              "62a9f59d90a2600008fb65bc",
                              "62b00270da5e18000833f443",
                              "65420ef9741db9205bf31c48",
                              "667401626a872e58e8c717db"
                            ],
                            "availability": "Available",
                            "channelIds": [
                              "63621495aa1b4447c45b1922",
                              "652f7a0fb57a75e38a1f8b35",
                              "65ddd4dd8e7666d47478c6a6",
                              "65ddded632af0b2336d39997",
                              "629e0b6c3d6ad600044197a0"
                            ]
                          }
                        ],
                        "picture": "https://files.gallabox.dev/629e06e58e13b5000ae338d5/1655967174269-elsa-frozen-today-square-190930--1-.jpg",
                        "id": "629ee7a28e13b5000ae33a28",
                        "exists": true
                      },
                      {
                        "name": "Rohit Caterer .",
                        "email": "rohit.gallabox@gmail.com",
                        "accounts": [
                          {
                            "accountId": "629e06e58e13b5000ae338d5",
                            "roleId": "60925e93ac1c1a00042cecd2",
                            "createdAt": "2022-06-06T13:53:41.558Z",
                            "updatedAt": "2024-01-29T13:30:28.552Z",
                            "teamIds": [
                              "62a9b79c5ffb4f0007d1fc11",
                              "62a9f59d90a2600008fb65bc",
                              "62ab1eee2d4c510009842873",
                              "62b00270da5e18000833f443"
                            ],
                            "availability": "Available",
                            "channelIds": [
                              "63621495aa1b4447c45b1922",
                              "65852b25ef8ebf93c5e4ceae",
                              "629e0b6c3d6ad600044197a0",
                              "652f7a0fb57a75e38a1f8b35",
                              "65ddd4dd8e7666d47478c6a6",
                              "65ddded632af0b2336d39997"
                            ]
                          }
                        ],
                        "picture": "https://files.gallabox.dev/629e06e58e13b5000ae338d5/9ac20a2b-6f9a-47e1-8da4-273a4e36ab7f-download2.jfif",
                        "id": "629e06e48e13b5000ae338d3",
                        "exists": true
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete Users",
        "operationId": "usersDeleteUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userEmails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "gethu@mailinator.com"
                    }
                  }
                }
              },
              "examples": {
                "deleteUsers": {
                  "summary": "Delete Users",
                  "value": {
                    "userEmails": [
                      "gethu@mailinator.com",
                      "batman777@gmail.com"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userEmail": {
                        "type": "string",
                        "example": "gethu@mailinator.com"
                      },
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "error": {
                        "type": "string",
                        "example": "User is not found"
                      }
                    }
                  }
                },
                "examples": {
                  "deleteUsersDeleteUsers": {
                    "summary": "Delete Users",
                    "value": [
                      {
                        "userEmail": "gethu@mailinator.com",
                        "success": true
                      },
                      {
                        "userEmail": "batman777@gmail.com",
                        "success": false,
                        "error": "User is not found"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/devapi/accounts/{accountId}/users/availability": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update Current Users",
        "operationId": "usersUpdateCurrentUsers",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "6634af7f1ae87cb84d64e9d8"
                    }
                  },
                  "emailIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "qagallabox24@mailinator.com"
                    }
                  },
                  "availability": {
                    "type": "string",
                    "example": "Away"
                  }
                }
              },
              "examples": {
                "updateCurrentUsers": {
                  "summary": "Update Current Users",
                  "value": {
                    "userIds": [
                      "6634af7f1ae87cb84d64e9d8"
                    ],
                    "emailIds": [
                      "qagallabox24@mailinator.com"
                    ],
                    "availability": "Away"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updatedCount": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                },
                "examples": {
                  "updateCurrentUsersUpdateCurrentUsers": {
                    "summary": "Update Current Users",
                    "value": {
                      "updatedCount": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/devapi/accounts/{accountId}/teams/map": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Map Teams",
        "operationId": "usersMapTeams",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userEmails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "gethu@mailinator.com"
                    }
                  },
                  "teamNames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "MArketing team"
                    }
                  }
                }
              },
              "examples": {
                "mapTeams": {
                  "summary": "Map Teams",
                  "value": {
                    "userEmails": [
                      "gethu@mailinator.com",
                      "batman777@gmail.com"
                    ],
                    "teamNames": [
                      "MArketing team",
                      "Sales team"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userEmail": {
                        "type": "string",
                        "example": "gethu@mailinator.com"
                      },
                      "teamNames": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "MArketing team"
                        }
                      },
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "error": {
                        "type": "string",
                        "example": "User is not found"
                      }
                    }
                  }
                },
                "examples": {
                  "mapTeamsMapTeams": {
                    "summary": "Map Teams",
                    "value": [
                      {
                        "userEmail": "gethu@mailinator.com",
                        "teamNames": [
                          "MArketing team",
                          "Sales team"
                        ],
                        "success": true
                      },
                      {
                        "userEmail": "batman777@gmail.com",
                        "teamNames": [
                          "MArketing team",
                          "Sales team"
                        ],
                        "success": false,
                        "error": "User is not found"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/devapi/accounts/{accountId}/teams/un-map": {
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Un Map Teams",
        "operationId": "usersUnMapTeams",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userEmails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "gethu@mailinator.com"
                    }
                  },
                  "teamNames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "MArketing team"
                    }
                  }
                }
              },
              "examples": {
                "unMapTeams": {
                  "summary": "Un Map Teams",
                  "value": {
                    "userEmails": [
                      "gethu@mailinator.com",
                      "batman777@gmail.com"
                    ],
                    "teamNames": [
                      "MArketing team",
                      "vUjjvvwJvjvjs"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "userEmail": {
                        "type": "string",
                        "example": "gethu@mailinator.com"
                      },
                      "teamNames": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "MArketing team"
                        }
                      },
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "error": {
                        "type": "string",
                        "example": "User is not found"
                      }
                    }
                  }
                },
                "examples": {
                  "unMapTeamsUnMapTeams": {
                    "summary": "Un Map Teams",
                    "value": [
                      {
                        "userEmail": "gethu@mailinator.com",
                        "teamNames": [
                          "MArketing team",
                          "Sales team"
                        ],
                        "success": true
                      },
                      {
                        "userEmail": "batman777@gmail.com",
                        "teamNames": [
                          "MArketing team",
                          "Sales team"
                        ],
                        "success": false,
                        "error": "User is not found"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/devapi/messages/whatsapp": {
      "post": {
        "tags": [
          "Messages / WhatsApp Session Message"
        ],
        "summary": "Send Text Message / Send Contact Message",
        "operationId": "messagesWhatsAppSessionMessageSendTextMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "{{channelId}}"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "whatsapp"
                  },
                  "recipient": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Yogesh"
                      },
                      "phone": {
                        "type": "string",
                        "example": "917825877730"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "your_tag"
                            }
                          }
                        }
                      }
                    }
                  },
                  "whatsapp": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "text"
                      },
                      "text": {
                        "type": "object",
                        "properties": {
                          "body": {
                            "type": "string",
                            "example": "Message from Developer API POST"
                          }
                        }
                      },
                      "contacts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "addresses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "street": {
                                    "type": "string",
                                    "example": "Chandrasekaran Cross St"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Chennai"
                                  },
                                  "state": {
                                    "type": "string",
                                    "example": "Tamil Nadu"
                                  },
                                  "zip": {
                                    "type": "string",
                                    "example": "600044"
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "India"
                                  },
                                  "countryCode": {
                                    "type": "string",
                                    "example": "IN"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "HOME"
                                  }
                                }
                              }
                            },
                            "birthday": {
                              "type": "string",
                              "example": "1983-09-14"
                            },
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "type": "string",
                                    "example": "yogesh@example.com"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "WORK"
                                  }
                                }
                              }
                            },
                            "name": {
                              "type": "object",
                              "properties": {
                                "formattedName": {
                                  "type": "string",
                                  "example": "Yogesh Narayanan"
                                },
                                "firstName": {
                                  "type": "string",
                                  "example": "Yogesh"
                                },
                                "lastName": {
                                  "type": "string",
                                  "example": "Narayanan"
                                }
                              }
                            },
                            "org": {
                              "type": "object",
                              "properties": {
                                "company": {
                                  "type": "string",
                                  "example": "Gallabox"
                                },
                                "department": {
                                  "type": "string",
                                  "example": "Engineering"
                                }
                              }
                            },
                            "phones": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "phone": {
                                    "type": "string",
                                    "example": "919999999999"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "HOME"
                                  },
                                  "waId": {
                                    "type": "string",
                                    "example": "91999999999"
                                  }
                                }
                              }
                            },
                            "urls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "example": "https://gallabox.com"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "WORK"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "interactive": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "product"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "fbProductId": {
                                "type": "string",
                                "example": "<Product ID from Meta Catalog>"
                              },
                              "retailer_id": {
                                "type": "string",
                                "example": "<Product retailer ID from Meta Catalog>"
                              },
                              "name": {
                                "type": "string",
                                "example": "<Product name from Meta Catalog>"
                              },
                              "description": {
                                "type": "string",
                                "example": "<Product description from Meta Catalog>"
                              },
                              "price": {
                                "type": "string",
                                "example": "<Product Price from Meta Catalog (₹1.00)>"
                              },
                              "image_url": {
                                "type": "string",
                                "example": "<Product image URL from Meta Catalog>"
                              }
                            }
                          },
                          "body": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "example": "<Body text>"
                              }
                            }
                          },
                          "action": {
                            "type": "object",
                            "properties": {
                              "product_retailer_id": {
                                "type": "string",
                                "example": "<Product retailer ID from Meta Catalog>"
                              },
                              "catalog_id": {
                                "type": "string",
                                "example": "<Catalog ID from Meta Catalog>"
                              },
                              "sections": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "product_items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "product_retailer_id": {
                                            "type": "string",
                                            "example": "<Product retailer ID from Meta Catalog>"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "buttons": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "reply"
                                    },
                                    "reply": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "example": "ok"
                                        },
                                        "title": {
                                          "type": "string",
                                          "example": "Ok"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "button": {
                                "type": "string",
                                "example": "Pick Options"
                              }
                            }
                          },
                          "header": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "text"
                              },
                              "text": {
                                "type": "string",
                                "example": "<Header text>"
                              }
                            }
                          },
                          "products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fbProductId": {
                                  "type": "string",
                                  "example": "<Product ID from Meta Catalog>"
                                },
                                "retailer_id": {
                                  "type": "string",
                                  "example": "<Product retailer ID from Meta Catalog>"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "<Product name from Meta Catalog>"
                                },
                                "description": {
                                  "type": "string",
                                  "example": "<Product description from Meta Catalog>"
                                },
                                "price": {
                                  "type": "string",
                                  "example": "<Product Price from Meta Catalog (₹1.00)>"
                                },
                                "image_url": {
                                  "type": "string",
                                  "example": "<Product image URL from Meta Catalog>"
                                }
                              }
                            }
                          }
                        }
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "example": "Sample Image"
                          },
                          "path": {
                            "type": "string",
                            "example": "https://gallabox.com/gallabox-card.png"
                          },
                          "mimeType": {
                            "type": "string",
                            "example": "image/png"
                          }
                        }
                      },
                      "video": {
                        "type": "object",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "example": "Sample video"
                          },
                          "path": {
                            "type": "string",
                            "example": "https://gallabox-assets.s3.ap-south-1.amazonaws.com/gb-home/final_hero_animation.mp4"
                          },
                          "mimeType": {
                            "type": "string",
                            "example": "video/mp4"
                          }
                        }
                      },
                      "document": {
                        "type": "object",
                        "properties": {
                          "caption": {
                            "type": "string",
                            "example": "Sample document"
                          },
                          "path": {
                            "type": "string",
                            "example": "https://assets.gallabox.com/gb-home/Ebook/RE_WhatsApp_Ebook.pdf"
                          },
                          "mimeType": {
                            "type": "string",
                            "example": "application/pdf"
                          }
                        }
                      },
                      "audio": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string",
                            "example": "https://files.gallabox.dev/64240fb9f07544be554d0ca0/bf872f44-7300-46ea-acb1-17e7b814ad6c-gallaboxaudio15112024at124924pm.mp3"
                          },
                          "mimeType": {
                            "type": "string",
                            "example": "audio/mpeg"
                          }
                        }
                      },
                      "sticker": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string",
                            "example": "https://files.gallabox.dev/65939f0e4bbc337ffc0bdfc2/1086495002887992.webp"
                          },
                          "mimeType": {
                            "type": "string",
                            "example": "image/webp"
                          }
                        }
                      },
                      "template": {
                        "type": "object",
                        "properties": {
                          "templateName": {
                            "type": "string",
                            "example": "payment_thank_you"
                          },
                          "bodyValues": {
                            "type": "object",
                            "properties": {
                              "CustomerName": {
                                "type": "string",
                                "example": "Shree Balaji Traders"
                              },
                              "PaymentReceived": {
                                "type": "string",
                                "example": "₹75,600.00"
                              },
                              "InvoiceNumber": {
                                "type": "string",
                                "example": "INV-00516"
                              },
                              "CompanyName": {
                                "type": "string",
                                "example": "Hiren Enterprises"
                              },
                              "name": {
                                "type": "string",
                                "example": "Venkatesh"
                              },
                              "order_id": {
                                "type": "string",
                                "example": "1234"
                              },
                              "tracking_link": {
                                "type": "string",
                                "example": "https://gallabox.com"
                              },
                              "Name": {
                                "type": "string",
                                "example": "Yogesh"
                              },
                              "coupon": {
                                "type": "string",
                                "example": "{{coupon}}"
                              },
                              "otp": {
                                "type": "string",
                                "example": "{{otp}}"
                              }
                            }
                          },
                          "buttonValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "index": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "sub_type": {
                                  "type": "string",
                                  "example": "quick_reply"
                                },
                                "parameters": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "payload"
                                    },
                                    "payload": {
                                      "type": "string",
                                      "example": "your-payload-here"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "headerValues": {
                            "type": "object",
                            "properties": {
                              "mediaUrl": {
                                "type": "string",
                                "example": "https://gallabox-assets.s3.ap-south-1.amazonaws.com/Gallabox-WhatsApp-Solution.pdf"
                              },
                              "mediaName": {
                                "type": "string",
                                "example": "Gallabox Intro"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "accountId": {
                    "type": "string",
                    "example": "{{accountId}}"
                  },
                  "botId": {
                    "type": "string",
                    "example": "512-431f-a694-a14810d2f715"
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "notification"
                      }
                    }
                  }
                }
              },
              "examples": {
                "sendTextMessage": {
                  "summary": "Send Text Message",
                  "value": {
                    "channelId": "{{channelId}}",
                    "channelType": "whatsapp",
                    "recipient": {
                      "name": "Yogesh",
                      "phone": "917825877730"
                    },
                    "whatsapp": {
                      "type": "text",
                      "text": {
                        "body": "Message from Developer API POST"
                      }
                    }
                  }
                },
                "sendContactMessage": {
                  "summary": "Send Contact Message",
                  "value": {
                    "channelId": "{{channelId}}",
                    "channelType": "whatsapp",
                    "recipient": {
                      "name": "Yogesh",
                      "phone": "{{phoneNumber}}"
                    },
                    "whatsapp": {
                      "type": "contacts",
                      "contacts": [
                        {
                          "addresses": [
                            {
                              "street": "Chandrasekaran Cross St",
                              "city": "Chennai",
                              "state": "Tamil Nadu",
                              "zip": "600044",
                              "country": "India",
                              "countryCode": "IN",
                              "type": "HOME"
                            }
                          ],
                          "birthday": "1983-09-14",
                          "emails": [
                            {
                              "email": "yogesh@example.com",
                              "type": "WORK"
                            }
                          ],
                          "name": {
                            "formattedName": "Yogesh Narayanan",
                            "firstName": "Yogesh",
                            "lastName": "Narayanan"
                          },
                          "org": {
                            "company": "Gallabox",
                            "department": "Engineering"
                          },
                          "phones": [
                            {
                              "phone": "919999999999",
                              "type": "HOME",
                              "waId": "91999999999"
                            }
                          ],
                          "urls": [
                            {
[...]
